.amarillo {
	background-color: #F6CEE3;	
}
.rojo {
	background-color: #F3F781;
}
div {
	height: 40%;
	width: 30%;
	font-size: 100%;
	margin: 50% 2%;
	display: inline;
}
p {
	display: inline;
}
.pdl5 {
	padding-left: 2%;
}
.pdt5 {
	padding-top: 2%;
}
.may {
	text-transform: uppercase;
}