.amarillo {
	background-color: yellow;	
}
.rojo {
	background-color: red;
}
div {
	height: 25%;
	width: 30%;
	font-size: 150%;
	margin-bottom: 2%;
}
.pdl5 {
	padding-left: 2%;
}
.pdt5 {
	padding-top: 2%;
}
.may {
	text-transform: uppercase;
}